.logo {
  border: 2px solid;
  margin: 20px auto;
  width: 50px;
  height: 50px;
  padding: 10px;
  text-align: center;
  font-size: 24px;
}

.text-label {
  border: 2px solid;
  margin: 20px auto;
  width: 1000px;
  height: 50px;
  padding: 10px;
  text-align: center;
  font-size: 48px;
}

.container {
  display: flex;
  justify-content: center;
}

.form {
  height: 100px;
  width: 400px;
  border: 2px solid black;
}
.details {
  height: 400px;
  width: 400px;
  border: 2px solid black;
  position: relative;
}

.summary {
  position: absolute;
  bottom: 0;
  left: 0;
}
