.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.text-label {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
}

.exchange-form {
  margin-bottom: 20px;
}

.currency {
  margin-top: 20px;
}

.amount-value,
.choose-currency {
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.amount-value {
  box-sizing: border-box;
}

.count-result-btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 24px 0;
}

.count-result-btn:hover {
  background-color: #45a049;
}

.result {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.error {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  display: block;
  font-weight: bold;
  color: red;
}
